@font-face {
  font-family: "iconfont"; /* Project id 3138177 */
  src: url('//at.alicdn.com/t/font_3138177_pg4t6zlof7.woff2?t=1653045944924') format('woff2'),
       url('//at.alicdn.com/t/font_3138177_pg4t6zlof7.woff?t=1653045944924') format('woff'),
       url('//at.alicdn.com/t/font_3138177_pg4t6zlof7.ttf?t=1653045944924') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuxie:before {
  content: "\e639";
}

.icon-jiubei:before {
  content: "\e732";
}

.icon-jingpin:before {
  content: "\e60e";
}

.icon-zhuti:before {
  content: "\e682";
}

.icon-kafei:before {
  content: "\e60a";
}

.icon-yuzhong:before {
  content: "\e632";
}

.icon-xiaolian:before {
  content: "\e688";
}

.icon-fengge:before {
  content: "\e6b5";
}

.icon-woman:before {
  content: "\e63a";
}

.icon-man:before {
  content: "\e63b";
}

.icon-cencel_collectSonglist:before {
  content: "\e62d";
}

.icon-collectSonglist:before {
  content: "\e634";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-dianzan:before {
  content: "\e622";
}

.icon-dianzan1:before {
  content: "\e61e";
}

.icon-fenxiang:before {
  content: "\e606";
}

.icon-aite:before {
  content: "\e611";
}

.icon-jinghao:before {
  content: "\e746";
}

.icon-goTop:before {
  content: "\e601";
}

.icon-playLinear:before {
  content: "\ea6d";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xihuan1:before {
  content: "\e870";
}

.icon-trumpet:before {
  content: "\eca5";
}

.icon-danquxunhuan:before {
  content: "\e621";
}

.icon-yinliang:before {
  content: "\e646";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-liebiaoxunhuan:before {
  content: "\e63d";
}

.icon-ci:before {
  content: "\e667";
}

.icon-suiji:before {
  content: "\ea75";
}

.icon-play:before {
  content: "\ea82";
}

.icon-musiclist:before {
  content: "\ea83";
}

.icon-next:before {
  content: "\e63e";
}

.icon-previous:before {
  content: "\ea84";
}

.icon-xiayiye:before {
  content: "\e602";
}

.icon-shangyiye:before {
  content: "\e600";
}
